# OS
.DS_Store

# IDE
.idea/
.vscode/

# Build files
.gradle/
.kotlin/
build/

# Version control
.git/
.gitignore

# Docs
*.md

# Ignore Gradle wrapper files
gradlew
gradlew.bat
gradle/*
!gradle/libs.versions.toml

docker-compose.yml
